body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 35px;
    color: black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    width: 20%;
}

th {
    color: #5E5DF0;
}

ul {
    text-align: center;
}

button {
    margin-left: auto;
    margin-right: auto;
    background-color: #5E5DF0;
    border-radius: 1em;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    padding: 6px 16px;
    border: 0;
}

button:hover {
    background-color: #3f3f9b;
}



form {
    margin-top: 5em;
    text-align: center;
    font-size: 1em;
}

input {
    text-align: center;
}

select {
    font-size: 0.8em;
}

h5 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    margin: 0;
}

#add-ul {
    line-height: 1.5em;
}

#rec-form  {
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}

#info-table td, th{
    width: 10%;
}

#rect {
    width: 1px;
    height: 1px;
    background-color: white;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move {
    margin: auto;
}